<%- include('./partials/head') %>
    <script src="/games-list.js" defer></script>
    </head>

    <body>
        <%- include('./partials/nav') %>
            <h1>
                <%= title %>
            </h1>
            <div id="root"><button id="new-game-btn">Add New Game</button>
                <%- include('./partials/new-game-form') %>
                    <main class="items-container">
                        <% gamesList.forEach((game)=> { %>
                            <article class="item">
                                <div class="text">
                                    <h3>
                                        <%= game.id %>: <%= game.name %>
                                    </h3>
                                    <p>
                                        <%= game.release_year %>
                                    </p>
                                    <p>Platform:<a href="/games?attribute=platform&value=<%= game.platform %>">
                                            <%= game.platform %>
                                        </a></p>
                                    <p>Genre: <%= game.genre %>
                                    </p>
                                    <p>Publisher: <a href="/games?attribute=publisher&value=<%= game.publisher %>">
                                            <%=game.publisher %>
                                        </a>
                                    </p>
                                    <a href="/games/<%= game.id %>"><button>View</button></a>

                                    <button class="delete-game" id="<%= game.id %>">Delete Game</button>
                                </div>
                            </article>
                            <% }) %>
                    </main>
            </div>
    </body>

    </html>